.weather-app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  border: 4px solid rgb(213, 215, 220);
  padding: 15px;
  margin: 40px auto;
  max-width: 550px;
}
.city {
  border: 0.5px solid;
  border-radius: 5px;
}
.current {
  display: block;
  color: white;
  background-color: #585fa3;
  border: none;
  border-radius: 5px;
}
h1 {
  font-size: 25px;
  margin: 20px;
  color: #4f81c7;
}

h2 {
  list-style: none;
  margin-left: -30px;
  color: #103568;
  font-size: 18px;
  margin: 20px;
}
.humidity {
  color: rgb(90, 98, 117);
  position: relative;
  width: 150px;
  left: 350px;
  bottom: 65px;
}
.row {
  font-size: 18px;
  margin-bottom: 20px;
  color: #4f81c7;
}
.footer {
  color: #585fa3;
  font-size: 14px;
}
